

<div id="menuList" class="menu">
  <a href="javascript:void(0)" class="closebtn" onclick="closeMenu()">×</a>
  <a href="/">Home</a>
  <a href="/#Gallery">Destination</a>
  <a href="/register">Sign Up</a>
  <a href="/login">Log In</a>
</div>
<button class="openbtn" onclick="openMenu()">☰</button>  
<header id="main-header">
 

  <div class="header-container">
          <img src="images/travel.svg" width="50px" alt="CET Logo">
          <h1>Travel Expert -- Canadian Elite Travel</h1>
  </div>
  <nav id="navbar">
          <ul>
                  <li><a href="/" title="Here you are!">Home</a></li> 
                  <li><a href="/#Gallery" title="Gallery">Destination</a></li>
                  <li><a href="/register" title="Sign Up">Sign Up</a></li>
                  <li><a href="/login" title="Login">Log In</a></li>
          </ul>
  </nav>     
</header> 